<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>&dollar; 724,654</ion-card-title>
      <ion-card-subtitle>Current Balance</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  
    <ion-button fill="clear">Track</ion-button>
    <ion-button fill="clear">Transact</ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Recent Transactions</ion-card-title>
      <ion-card-subtitle>Transaction History</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail >
            <ion-icon aria-hidden="true" name="receipt-outline"></ion-icon>
          </ion-thumbnail>
          <ion-label>Money In: Payment amount &dollar;245,000 into acc...</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail >
            <ion-icon aria-hidden="true" name="receipt-outline"></ion-icon>
          </ion-thumbnail>
          <ion-label>In-App transaction purchase Mobile Data amount &dollar;10...</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail >
            <ion-icon aria-hidden="true" name="receipt-outline"></ion-icon>
          </ion-thumbnail>
          <ion-label>Money Out: Payment amount &dollar;18,000 from acc...</ion-label>
        </ion-item>
  
        <ion-item lines="none">
          <ion-thumbnail >
            <ion-icon aria-hidden="true" name="receipt-outline"></ion-icon>
          </ion-thumbnail>
          <ion-label>Money In: Payment amount &dollar;101,000 into acc...</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
