.btn-confirm{
    color: #FFF;
    background-color: #000;
}

.current-balance-card{
    color: #FFF;
    background-color: #1A5276;
}



.current-balance-card ion-card-subtitle{
    color: #D0D3D4;
}
.current-balance-card ion-button{
    color: #D0D3D4;
}
