<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Update Password</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Update Password</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <!-- Update Password Page -->
  <div class="container">
    <h1 class="heading">SpringBank<br><br></h1>
    <p class="para">Update Password</p>
    <form [formGroup]="updatePasswordFormGroup">
      <ion-item lines="none" class="ion-item">
        <fieldset class="input-item">
          <legend>Password</legend> 
          <ion-input formControlName="password" type="password" placeholder="*******"></ion-input>
        </fieldset>
      </ion-item>
      <ion-item lines="none" class="ion-item">
        <fieldset class="input-item">
          <legend>Confirm Password</legend> 
          <ion-input formControlName="confirmPassword" type="password" placeholder="*******"></ion-input>
        </fieldset>
      </ion-item>
      <hr/>
      <ion-button class="save-button" (click)="updatePassword()"  id="open-loading" expand="block">Save</ion-button>
      <ion-button class="save-button" (click)="cancel()"  id="open-loading" expand="block">Cancel</ion-button>
    </form>
  </div>

  <ion-toast
  [isOpen]="isToastOpen"
  message="{{toastMessage}}"
  [duration]="2000"
  (didDismiss)="setOpen(false)"
></ion-toast>
</ion-content>
